<%- include("partials/header") -%>
<h1><%=heading%></h1>
<div class="padded">
    <ul>
        <li><%=contact_1%></li>
        <li><%=contact_2%></li>
    </ul>
</div>
<%- include("partials/footer") -%>